.titlebox {
    width: 960px;
    padding: 0px 0px;
}

.photo-tag {
    width: 120px;
    height: 240px;
    padding: 20px 10px;
    float: left;
    margin: 0px 0px;
    opacity: 0.4;
}

.back
{
     width:40px;
     height:40px;
     margin:20px 20px;
     opacity: 0.4;
}
.back:hover
{
    opacity: 0.7;
    animation: in 0.5s linear ;
  -webkit-animation: in 0.5s linear; /* Safari 与 Chrome */
}
.img-title
{
    position:absolute;
    text-align:center;
    color:black;
    font-family:gufeng;
    font-size:20px;
    /*bottom:20px;*/
    width:120px;
}
.photo-tag img
{
width:120px;
height:120px;
margin:0px 0px;
}
.scale_in
{
 animation: in 0.5s linear forwards ;
  -webkit-animation: in 0.5s linear forwards; /* Safari 与 Chrome */
}