<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>食尧阁</title>
    <link rel="stylesheet" href="static/style/home_test.css">
    <link rel="stylesheet" href="static/style/animation.css">
    <link rel="stylesheet" href="static/style/yinxiang.css">
    <link rel="stylesheet" href="static/style/modal.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="static/script/main.js"></script>
    <script src="static/script/modal.js"></script>
    <style>
    body{
        background-image: url("static/image/mask.jpg");
    }
</style>
</head>

<body>
    <!--
    <div id="bg" class="full">
                <video src="static/image/bg.mp4" controls="controls" autoplay="autoplay" loop="loop" >
                    您的浏览器不支持 video 标签。
                </video>
    </div>
   -->
    <div id="context"  class="full" ></div>
    <script>
    $("#context").load("static/page/home.html");
    </script>
</body>
</html>